{% extends 'registration/login.html' %}

{% block content %}
            <form class="login100-form validate-form" method="post">
                {% csrf_token %}
                <span class="login100-form-title p-b-37">
					Change password
				</span>
                <div class="wrap-input100 validate-input m-b-20" data-validate="Enter Old password">
					<input class="input100" type="password" name="old_password" id="id_old_password" placeholder="Old password">
					<span class="focus-input100"></span>
				</div>
                <div class="wrap-input100 validate-input m-b-20" data-validate="Enter New password">
					<input class="input100" type="password" name="new_password1" id="id_new_password1" placeholder="New password">
					<span class="focus-input100"></span>
				</div>
                {% if form.errors %}
                <span class="text-justify" style="color: #FF0000">
                    <ol>
                        <li>1. Your password can't be too similar to your other personal information.</li>
                        <li>2. Your password must contain at least 8 characters.</li>
                        <li>3. Your password can't be a commonly used password.</li>
                        <li>4. Your password can't be entirely numeric.</li>
                    </ol>
				</span>
                {% endif %}
				<div class="wrap-input100 validate-input m-b-25" data-validate = "retype password">
					<input class="input100" type="password" name="new_password2" id="id_new_password2" placeholder="Retype password">
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						Change my password
					</button>
				</div>
        </form>

{#    <form method="post">#}
{#  {% csrf_token %}#}
{#  {{ form }}#}
{#  <button type="submit">Save changes</button>#}
{#</form>#}
{% endblock %}