{% extends 'registration/login.html' %}

{% block content %}

    <span class="login100-form-title p-b-37">
        Password reset sent
    </span>
    <span class="text-justify">
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
        </p>
        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check
            your spam folder.
        </p>
    </span>
    <div class="flex-c p-b-80">

    </div>

    <div class="text-center">
        <a href="{% url 'login' %}" class="txt2 hov1">
            Home
        </a>
    </div>
{% endblock %}