{% extends 'registration/login.html' %}

{% block content %}

        <form class="login100-form validate-form" method="post">
                {% csrf_token %}
                <span class="login100-form-title p-b-37">
                    Password reset
                </span>
                <span class="text-center text-justify">
                    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                </span>
                <span class="login100-form-title p-b-37"> </span>

                <div class="wrap-input100 validate-input m-b-20" data-validate="Enter valid email">
                    <input class="input100" type="email" name="email" id="id_email" maxlength="254" placeholder="Email" required>
                    <span class="focus-input100"></span>
                </div>

            <div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						Reset my password
					</button>
			</div>

        </form>
        <div class="flex-c p-b-80">

        </div>

        <div class="text-center">
            <a href="{% url 'login' %}" class="txt2 hov1">
                Home
            </a>
        </div>


{% endblock %}