{% extends 'registration/login.html' %}

{% block content %}
        <span class="login100-form-title p-b-37">
                    Congratulations!
        </span>
        <span>
            Your password has been set. You may go ahead and now.
        </span>

    <div class="container-login100-form-btn p-b-37">
        <button class="login100-form-btn">
            <a href="{% url 'login' %}" class="txt2 hov1">
                sign in
            </a>
        </button>
    </div>
{% endblock %}
