.header-area .main-header-area .main-menu ul li .submenu li .submenu2{
	position:absolute;
	left:200px;
	top:100px;
	background:#fff;
	width:200px;
	z-index:2;
	box-shadow:0 0 10px rgba(0,0,0,0.02);
	opacity:0;
	visibility:hidden;
	-webkit-transition:.6s;
	-moz-transition:.6s;
	-o-transition:.6s;transition:.6s}
.header-area .main-header-area .main-menu ul li .submenu li .submenu2 li a{
	color: #474747;
}

.header-area .main-header-area .main-menu ul li .submenu li .submenu2 li:hover>a{
	color: #FF5200;
}
.header-area .main-header-area .main-menu ul li .submenu li{
	display:block;

}
.header-area .main-header-area .main-menu ul li .submenu li:hover>a{
	display:block;
	background-color: #1e1e1e;
	color: #FF5200;

}

.header-area .main-header-area .main-menu ul li .submenu li a{
	padding:10px 15px;
	border-bottom: 1px solid rgba(156, 156, 156, 0.34);
	position:inherit;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	-o-transition:.3s;
	transition:.3s;
	display:block}

.header-area .main-header-area .main-menu ul li .submenu li a::before{
	display:none}

.header-area .main-header-area .main-menu ul li .submenu li .submenu2 li:hover>a{
	background-color: #1e1e1e;
}

.header-area .main-header-area .main-menu ul li .submenu li:hover>.submenu2{
	opacity:1;
	visibility:visible;
	top:0px;
}

.header-area .main-header-area .main-menu ul li .submenu li:hover>a::before{
	opacity:1;
	transform:scaleX(1)}


.slider-content{
	opacity:.45;

}
.Custm-banner-bg-1{
	background-image:url(../img/banner/details-banner.jpg)
}


.banner-img{
	background-image:url(../img/slider/slider-img-13.jpg)
}

.banner-img4{
	background-image:url(../img/background-img/bg-img-4.jpg)
}