{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>New Inter-Shop Instruction Form</title>

{#  <!-- Bootstrap core CSS -->#}
  <link rel="stylesheet" href={% static 'style_idn/vendor/bootstrap/css/bootstrap.min.css' %} >
  <link rel="stylesheet" href={% static 'style_idn/vendor/bootstrap/css/custom.css' %} >

  <!-- multiselect css -->
  <link rel="stylesheet" href={% static 'style_idn/css/bootstrap-select.css' %}>

  <!-- Text editor installation-->


</head>

<body>



  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Khulna Shipyard Limited</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'plater-shop' %}">home</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   <!--------- end of navigation bar------>

{% block content %}

    {% if submitted %}
         <div class="row" id="paint">
              <div class="col-lg-12 text-center"><br>
                <h4 class = "font-weight-light"> আপনার হাজিরা বিবরণী সঠিকভাবে প্রেরণ করা হয়েছে, ধন্যবাদ।  </h4>
              </div>
          </div>
        <script>
             setTimeout(function(){
                window.location.href = "{% url 'attend-detail' %}";
             }, 1500);
        </script>
    {% else %}
  <!-- Page Content -->
  <div class="container">
      <div class="col-md-12"><br> </div>
    <div class="row">
        <div class="col-md-3 text-center">
            <img src="{% static 'img/ksy_logo.png' %}" class="logo" alt="...">
        </div>
          <div class="col-md-6 text-center">
            <h1 class = "font-weight-normal">খুলনা শিপইয়ার্ড লিমিটেড</h1>
            <h4 class = "font-weight-light"> বাংলাদেশ নৌ-বাহিনী, খুলনা </h4>
            <h3 class = "font-weight-normal"> জনবলের হাজিরা </h3>
          </div>
	</div>


	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
        <div class="row">
            <div class="form-group col-md-6">
              <div class="input-group">
        			  <div class="input-group-prepend">
        				<span class="input-group-text">সুত্রঃ</span>
        			  </div>
        			  <input type="text" class="form-control" name="ref" id="id_ref" maxlength="100">
              </div>
            </div>
            <div class="form-group col-md-6">
                <div class="input-group">
			  <div class="input-group-prepend">
				<span class="input-group-text">তারিখঃ</span>
			  </div>
			  <input type="date" class="form-control"  name="attendance_date" id="id_attendance_date">
			</div>
            </div>
			<div class="form-group col-md-6">
			  <label for="sender_shop">প্রেরকঃ</label>
				<select class="selectpicker form-control" data-live-search="true" title="নির্বচন করুন" data-live-search-placeholder="Search" data-actions-box="true" name="attendance_sender" id="id_attendance_sender"  multiple="multiple" data-max-options="1" >
				  <optgroup label="প্রডাকশন বিভাগ">
                      <option value="1">ও.আই.সি জাহাজ নির্মাণ শাখা</option>
                      <option value="2">ও.আই.সি যান্ত্রিক বাহির শাখা</option>
                      <option value="3">ও.আই.সি যান্ত্রিক ভিতর শাখা</option>
                      <option value="4">ও.আই.সি নঙ্গর শাখা</option>
                      <option value="5">ও.আই.সি পুরকৌশল শাখা</option>
                      <option value="6">ও.আই.সি বিদ্যুৎ শাখা</option>
                      <option value="7">ও.আই.সি রেডিও ইলেক্ট্রিক্যাল শাখা</option>
                      <option value="8">ও.আই.সি কার্প্রেন্ট্রি শপ</option>
                      <option value="9">ও.আই.সি রক্ষণাবেক্ষণ শাখা</option>
                    </optgroup>
                    <optgroup label="নকশা ও পরিকল্পনা বিভাগ">
                      <option value="10">ও.আই.সি নকশা শাখা</option>
                      <option value="11">ও.আই.সি পরিকল্পনা শাখা</option>
                      <option value="12">ও.আই.সি আইটি শাখা</option>
                    </optgroup>
                    <optgroup label="প্রশাসন বিভাগ">
                      <option value="13">প্রশাসন শাখা</option>
                      <option value="14">বাণিজ্যিক শাখা লোকাল</option>
                      <option value="15">বাণিজ্যিক শাখা ফরেন</option>
                      <option value="16">হিউম্যান রিসোর্স শাখা</option>
                      <option value="17">প্রধান ভাণ্ডার</option>
                    </optgroup>
                    <optgroup label="অর্থ বিভাগ">
                      <option value="18">অর্থ শাখা </option>
                      <option value="19">মূল্য নির্ধারন শাখা</option>
                    </optgroup>
				</select>
			</div>
			<div class="form-group col-md-6">
			  <label for="receiver_shop">প্রাপকঃ</label>
                <select class="selectpicker form-control" data-live-search="true" title="নির্বচন করুন" data-live-search-placeholder="Search" data-actions-box="true" name="attendance_receiver" id="id_attendance_receiver" multiple = "multiple">
                    <optgroup label="প্রোডাকশন বিভাগ">
                      <option value="1">জি এম প্রোডাকশন</option>
                      <option value="2">ডি জি এম (এস বি)</option>
                      <option value="3">ডি জি এম ইঞ্জিনিয়ারিং</option>
                      <option value="4">ডি জি এম ইলেক্ট্রিক্যাল</option>
                    </optgroup>
                    <optgroup label="নকশা ও পরিকল্পনা বিভাগ">
                      <option value="10">জি এম নকশা ও পরিকল্পনা</option>
                      <option value="11">ডি জি এম নকশা ও পরিকল্পনা </option>
                      <option value="12">আইটি শাখা</option>
                    </optgroup>
                    <optgroup label="প্রশাসন বিভাগ">
                      <option value="13">জি এম প্রশাসন </option>
                      <option value="14">ডি জি এম প্রশাসন </option>
                    </optgroup>
                    <optgroup label="অর্থ বিভাগ">
                      <option value="18">জি এম অর্থ </option>
                      <option value="19">ডি জি এম অর্থ</option>
                    </optgroup>
                </select>

			</div>
			<div class="form-group col-12">
				<hr>
			</div>
			<div class="form-group col-6">
                <label for="receiver_shop">জনবলের ধরনঃ </label>
                <select class="selectpicker form-control" data-live-search="true" title="নির্বচন করুন" data-live-search-placeholder="Search" data-actions-box="true" name="manpower_type" id="id_manpower_type">
                      <option value="1">স্থায়ী কর্মকর্তা</option>
                      <option value="2">চুক্তিভিত্তিক কর্মকর্তা</option>
                      <option value="3">স্থায়ী দপ্তরসহকারী ও নিম্নকরণিক</option>
                      <option value="4">স্থায়ী উচ্চ তদারককারী</option>
                      <option value="5">চুক্তিভিত্তিক উচ্চ তদারককারী</option>
                      <option value="6">স্থায়ী শ্রমিক</option>
                      <option value="7">অস্থায়ী শ্রমিক</option>
                      <option value="8">বি-শিফট স্থায়ী শ্রমিক</option>
                      <option value="9">বি-শিফট অস্থায়ী শ্রমিক</option>
                </select>
            </div>
            <div class="form-group col-6">
                <label for="receiver_shop">জবের ধরনঃ</label>
                <select class="selectpicker form-control" data-live-search="true" title="নির্বচন করুন" data-live-search-placeholder="Search" data-actions-box="true" name="job_type" id="id_job_type">
                      <option value="1">নবনির্মাণ</option>
                      <option value="2">মেরামতি</option>
                      <option value="3">ম্যানুফ্যাকচারিং</option>
                      <option value="4">আভ্যন্তরীণ</option>
                </select>
            </div>

            <div class="form-group col-md-6">
              <div class="input-group">
        			  <div class="input-group-prepend">
        				<span class="input-group-text">উপস্থিতিঃ</span>
        			  </div>
        			  <input type="text" class="form-control" name="manpower_attendance" id="id_manpower_attendance" maxlength="100">
              </div>
            </div>
            <div class="form-group col-md-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">অনুপস্থিতিঃ</span>
                  </div>
                  <input type="text" class="form-control"  name="manpower_absence" id="id_manpower_absence">
                </div>
            </div>

            
            <div class="form-group col-md-6">
                <button type="submit" name="#" class="btn btn-primary btn-lg btn-block">Preview</button>
            </div>
            <div class="form-group col-md-6">
                <button type="submit" name="_save" class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>
		</div>
	</form>
  {% endif %}
  </div>


{% endblock %}
  <!-- Bootstrap core JavaScript -->
<script src={% static 'style_idn/vendor/jquery/jquery.slim.min.js' %}></script>
<script src={% static 'style_idn/vendor/bootstrap/js/bootstrap.bundle.min.js' %}></script>


<!-- Dropdown Multiple Select JS -->
<script src={% static 'style_idn/js/bootstrap-select.js'%}></script>

<!-- Text Editor Source JS-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor.js" %}"></script>

<!-- JS Declaration here. -->

<script type="text/javascript">

// http redirect --------------------

// Multiselect--------------------------------------
function createOptions(number) {
  var options = [], _options;
  var option1 = ['Managing Director','GM Production','DGM Shipbuilding','DGM Engineering','DGM Electrical'];

  {#Option Group Variable#}
  var option_group = [];
  var group_1st_tag =  '<optgroup label=" 1st gr">';
  var group_end_tag =  '</optgroup>';


  for (var i = 0; i < number; i++) {
    var option = '<option value="' + i + '">' + option1[i] + '</option>';
    options.push(option);
  }



  option_group.push(group_1st_tag);
  option_group.push(options);
  option_group.push(group_end_tag);

  _options = option_group.join('');

  $('#number')[0].innerHTML = _options;

  {#$('#number-multiple')[0].innerHTML = _options;#}
  {##}
  {##}
  {#$('#number2')[0].innerHTML = _options;#}
  {#$('#number2-multiple')[0].innerHTML = _options;#}
}

var mySelect = $('#first-disabled2');

createOptions(5);

$('#special').on('click', function () {
  mySelect.find('option:selected').prop('disabled', true);
  mySelect.selectpicker('refresh');
});

$('#special2').on('click', function () {
  mySelect.find('option:disabled').prop('disabled', false);
  mySelect.selectpicker('refresh');
});

$('#basic2').selectpicker({
  liveSearch: true,
  maxOptions: 1
});
</script>


</body>

</html>
