{% extends 'main_store/Existing_product_store_form.html' %}
{% load staticfiles %}

{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="col-md-12"><br> </div>
    <!--      Start Header information-->
        <div class="row">
            <div class="col-md-3 text-center">
                <img class="logo" alt="..." src={% static 'img/ksy_logo.png' %} >
            </div>
              <div class="col-md-6 text-center">
                <h1 class = "font-weight-normal">খুলনা শিপইয়ার্ড লিমিটেড</h1>
                <h4 class = "font-weight-light"> বাংলাদেশ নৌ-বাহিনী, খুলনা </h4>
                  <h4 class = "font-weight-normal"><b><u>মালামালের স্টেটমেন্ট/ রিপোর্ট</u></b> </h4>
                  <br>
              </div>
            <b>QF-PUR-01</b>
        </div>
    <!--End Header information-->
<!--Bin Card Information section Start-->
    <div class="custom-form indent_body">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-md-2">
                <input placeholder="শুরুর তারিখ... " required class="textbox-n form-control col-md-12" type="text" onfocus="(this.type='date')" id="id_date" name="start_date">
            </div>

            <div class="form-group  col-md-2">
                <input placeholder="শেষের তারিখ... " required class="textbox-n form-control col-md-12" type="text" onfocus="(this.type='date')" id="id_date" name="end_date">
            </div>
            <div class="form-group  col-md-2">
                <input placeholder="জব নং " class="textbox-n form-control col-md-12" type="text"  id="id_item_job_no" name="item_job_no">
            </div>
            <div class="form-group  col-md-3">
                <input class="textbox-n form-control col-md-12" type="text" name="item_code" id="id_item_code" placeholder="দ্রব্যের কোড">
            </div>
            <div class="form-group  col-md-3">
                <div class="input-group">
                  <input type="text" class="textbox-n form-control col-md-12" placeholder="দ্রব্যের নাম" id="id_item_name" name="item_name"  aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button type="submit" name="_search" class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>
                  </div>
                </div>
            </div>

        </div>
    </form>
    </div>
    {% if purchase_info %}
        <div class="col-md-12 text-left">
            <table class="table">
                  <tbody>
                    <tr>
                        <td style="width: 140px; font-weight: bold;">Starting Date</td>
                        <td style="width:15px;">:</td>
                        <td style="width: fit-content">{{ start_date }}</td>
                        <td style="width: 140px; font-weight: bold;">Ending Date</td>
                        <td style="width:15px;">:</td>
                        <td style="width: fit-content">{{ end_date }}</td>
                    </tr>
                  </tbody>
            </table>
        </div>
    {% endif %}

{% if purchase_info or issue_info %}    
    <table class="table table-bordered table-hover text-center">
                  <thead class="thead-dark ">
                  <br>
                    <tr>
                      <th scope="col">তারিখ</th>
                      <th scope="col">দ্রব্যের কোড</th>
                      <th scope="col">দ্রব্যের নাম</th>
                      <th scope="col">এম.আর.আর নং</th>
                      <th scope="col">এস আর নং</th>
                      <th scope="col">কার্যাদেশ নং</th>
                      <th scope="col">ব্যাবহারকারী</th>
                      <th scope="col">ক্রয়ের পরিমাণ</th>
                      <th scope="col">ইস্যুর পরিমাণ</th>
                      <th scope="col">একক</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% if purchase_info %}
                       {% for product_buy in purchase_info %}
                            <tr>
                              <td >{{ product_buy.buy_onDate }}</td>
                              <td >{{ product_buy.item_code }}</td>
                              <td >{{ product_buy.item_name }}</td>
                              <td >{{ product_buy.ref_no }}</td>
                              <td >-</td>
                              <td >{{ product_buy.buy_underJob }}</td>
                              <td >{{ product_buy.item_user }}</td>
                              <td >{{ product_buy.item_quantity }}</td>
                              <td>-</td>
                              <td >{{ product_buy.item_unit }}</td>
                            </tr>
                        {% endfor %}
                  {% endif %}

                  {% if issue_info %}
                        {% for product_issue in issue_info %}
                            <tr style="background-color: #ceffaa">
                              <td >{{ product_issue.date }}</td>
                              <td >{{ product_issue.item_code }}</td>
                              <td >{{ product_issue.item_name }}</td>
                              <td >-</td>
                              <td >{{ product_issue.sr_no }}</td>
                              <td >{{ product_issue.job_no }}</td>
                              <td >{{ product_issue.received_shop }}</td>
                              <td >-</td>
                              <td>{{ product_issue.item_quantity }}</td>
                              <td>{{ product_issue.item_unit }}</td>
                            </tr>
                        {% endfor %}
                  {% endif %}
                            <tr>
                                <td style="font-weight: bold; text-align: right;" colspan="7">Total = </td>
                                <td style="font-weight: bold">{{ total_buy }} </td>
                                <td style="font-weight: bold">{{ total_issue }} </td>
                                <td >-</td>
                            </tr>
                  </tbody>
    </table>
    <label style="color: #9c9c9c"> {{ purchase_info|length }} product purchased & {{ issue_info|length }} product issued </label>
{% endif %}
<!--Bin Card Information section End-->

</div>
{% endblock %}